<head>
	<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
	<script src="questions.js" type="text/javascript"></script>
	<script src="scripts.js" type="text/javascript"></script>
	<script src="debounce.min.js" type="text/javascript"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
	<img id="cursor" src="cursor.png">
	<div class="full-screen">
		<div class="question-container">
			<!-- header -->
			<div class="header">
				<h1>DETRAN</h1>
			</div>
			<!-- home -->
			<div class="body home">
				<div class="content">
					<!-- ICI BREVE PRESENTATION -->
					<center>
						<img src="dmv.png" class="logo">
						<br>
						<p class="bold-text">Seja bem-vindo ao Brasil Play Action !</center>
					<br>
					<center>É necessário que todos passem por uma breve introdução ao teste teórico antes da prova de condução.
						<br>Fique à vontade, leve o tempo que quiser.
						<br>
						<br>
					</center>
					Theory Test
					<br> - O teste escrito custa 200 reais, sem reembolso.
					<br> - Não se preocupe, o detran permite empréstimo, porém, tenha cuidado para não se endividar demais.
					<br> - Se você falhar no teste, não se preocupe, venha no outro dia e tente novamente.
					<br>
					<br> Driving Test
					<br> - O teste de condução custa 500 reais e assim como o outro, sem reembolso.
					<br> - O objetivo principal do teste de condução é a atenção aos detalhes, preste atenção ao seu entorno e não bata !</p>
				</div>
				<div class="buttonspot">
					<a href="#" class="button btnQuestion">Start</a>
				</div>
				<div class="barre-progression">
					<h2>Progress</h2>
					<progress class="progression" value="0" max="10">
				</div>
			</div>
			<!-- Question-->
			<div class="body questionnaire-container">
				<div class="content">
					<h2 id="questionNumero"></h2>
					<p id="question"></p>
					<form class="form" id="question-form">
						<div>
							<input type="radio" name="question" id="answerA" value="A">
							<label class="answerA"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerB" value="B">
							<label class="answerB"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerC" value="C">
							<label class="answerC"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerD" value="D">
							<label class="answerD"></label>
						</div>
						<button type="submit" id="submit" class="submit">Próxima questão</button>
					</form>
				</div>
				<div class="barre-progression">
					<h2>Progress</h2>
					<progress class="progression" value="0" max="10">
				</div>
			</div>
			<!-- Résults -->
			<div class="body resultGood">
				<div class="content">
					<center>
						<p class="bold-text">Bom trabalho !</p>
						<br>
						<br>Você foi muito bem no teste !
						<br>
						<br>Feche a janela e siga para o próximo teste.</center>
				</div>
				<div class="buttonspot">
					<a href="#" class="button btnClose">Close</a>
				</div>
				<div class="barre-progression">
					<h2>Progresso</h2>
					<progress class="progression" value="10" max="10">
				</div>
			</div>
			<div class="body resultBad">
				<div class="content">
					<center>
						<p class="bold-text">Você falhou !</p>
						<br>
						<br>Você não está apto para o teste, tente novamente mais tarde.
						<br>
						<br>
					</center>
				</div>
				<div class="buttonspot">
					<a href="#" class="button btnKick">Fechar</a>
				</div>
				<div class="barre-progression">
					<h2>Progresso</h2>
					<progress class="progression" value="10" max="10">
				</div>
			</div>
		</div>
	</div>
</body>