@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');

*{
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

/* make body full page */
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.console{
  background-color: white;
  color: red;
  font-weight: bold;
}

/* menu */

.menu{
  background-color: rgba(35, 40, 46, 0.5);
  box-shadow : 0px 0px 50px 0px #000;
  color: #ffffff;
  text-transform: uppercase;
  float: left;
  margin-top: 270px;
  text-align: center;
  width: 310px;
  height: 30%;
  position: absolute;
  margin-left: 25px;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
  font-family: 'Hind Siliguri', sans-serif;
}

.menu h1{
  background-color: rgba(255,0,0,0.75);
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 6px;
  font-weight: bold;
  font-family: 'Hind Siliguri', sans-serif;
}

.menu_description{
  background-color: rgba(35, 40, 46, 0.5);
  border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  border: 0px solid #000000;
  color: #ffffff;
  position: absolute;
  padding: 9px;
  font-size: 1.0em;
  max-width: 500px;
  font-family: 'Hind Siliguri', sans-serif;
}

.choices{
  overflow-y: scroll;
  overflow-x: hidden;
}

.choices::-webkit-scrollbar{ 
  display: none; 
}

.choices > div{
  padding: 6px;
  text-align: center;
  font-size: 15px; 
}

.choices .selected{
  background-color: rgba(255,255,255,0.90);
  color: black;
}

/* progress bar */
.progressbar{
  position: absolute;
}

.progressbar .inner{
}

.progressbar .label{
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
}

/* dynamic class progress bar */
.dprogressbar{
  position: relative;
  padding: 0;
  margin: 0;
}

.dprogressbar .inner{
  height: 100%;
  padding: 0;
  margin: 0;
}

.dprogressbar .label{
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  vertical-align: middle;
  top: 0;
  left: 0;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
}

/* wprompt */
.wprompt{
  position: absolute;
  background-color: rgba(35, 40, 46, 0.5);
  color: white;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
}

.wprompt h1{
  font-size: 1.2em;
  font-family: 'Hind Siliguri', sans-serif;
  color: #FFFFFF;
}

.wprompt textarea{
  outline: none !important;
  background-color: rgba(35, 40, 47, 0.39);
  font-family: 'Hind Siliguri', sans-serif;
  flex: 1;
  color: white;
  width: 100%;
  resize: none;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
}

.wprompt textarea:focus{
  outline: none !important;
}

.wprompt .help{
  font-size: 1.2em;
  font-family: 'Hind Siliguri', sans-serif;
  color: #FFFFFF;
}

/* request manager */
.request_manager{
  position: absolute;
  top: 50px;
  right: 10px;
  text-align: right;
}

.request_manager div{
  margin-top: 10px;
}

.request_manager div > span{
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,0.50);
  padding: 4px;
}

.request_manager .yes{
  padding-left: 15px;
  color: rgb(0,255,0);
  font-size: 1em;
}

.request_manager .no{
  color: rgb(255,0,0);
  font-size: 1em;
}

/* announce */

.announce{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 780px;
  height: 130px;
  padding: 10px;
  margin-left: -400px;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow: 2px 2px black;
  color: white;
  display: none;
  opacity: 0.90;
}

/* VoIP */

#voice_indicator{
  position: absolute;
  width: 75px;
  height: 75px;
  right: 0;
  top: 35%;
  background-image: url("images/voice_active.png");
  display: none;
}

#voice_indicator.active{
  display: block;
}
